body {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1656917574494-7bf5efa27d3c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1OTA5MDc1Ng&ixlib=rb-1.2.1&q=80&w=1600);
}

main {
    height: 100%;
}

#card {
    background: rgba(0, 0, 0, 0.7);
    width: 40%;
    border-radius: 30px;
    row-gap: 20px;
}

#ville {
    width: 80%;
    background: rgba(128, 128, 128, 0.2);
    color: white;
}

#ville:hover {
    background: rgba(128, 128, 128, 0.3);
}

#ville:focus {
    outline: none;
}

#btnSearch {
    width: 46px;
    background: rgba(211, 211, 211, 0.2);
    color: white;
}

#btnSearch:hover {
    background: rgba(211, 211, 211, 0.3);
}

#boxAlert {
    font-size: smaller;
    color: rgb(254, 95, 95);
    background: rgba(255, 0, 0, 0.3);
}